button {
  cursor: pointer;
  border-radius: 20%;
  font-weight: bold;
  height: 24px;
  width: 30px;
}

h1 {
  margin-bottom: 0px;
}

.add-birthday {
  background: green;

  margin: 1rem 0;
}

.edit-birthday {
  margin-left: 8px;
  background-color: BurlyWood;
}

.remove-birthday {
  background: pink;
  font: bold;
}

.birthday-text {
  margin-left: 16px;
}
